trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self

- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: npm install
  displayName: 'Install dependencies'

- script: npm run test
  displayName: 'Run tests'

- script: npm run build
  displayName: 'Create package'
  
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: 'dist'
    artifact: 'test-azure-devops-app'
